Code/env/
Code/ProjektCode/adapter/_pycache__/
Code/ProjektCode/adapter/interfaces/_pycache__/
Code/ProjektCode/core_files/_pycache__/
Code/ProjektCode/games/_pycache__/
Code/ProjektCode/gamestats/_pycache__/
Code/ProjektCode/gui/_pycache__/
Code/ProjektCode/gui/gui_specifications/_pycache__/